
/* css/normalize.css */

html {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}
